#map-canvas {
  padding: 0;
  position : absolute;
  top : 40px;
  right : 0px;
  bottom : 58px;
  left : 0px;
  height: 96%;
}

#login {
  background-color: #ffffff;
  position: absolute;
  bottom: 8%;
  height: 60px;
  width: 80%;
  left: 10%;
  color: #1a78c6;
  text-shadow: none;
}


header {
  z-index: 4;
}

#car {
  margin-left: 10px;
  color: yellow;
  height: 20px;
}

#center{
  height: 15px;
}

#search{
 height: 15px;
}

#create-space{
  height: 10px;
}

.round {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}
.round img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

#landing-screen {
  text-align: center;
  background-color: #268ef7;
}

#logo {
  margin-left: 16%;
  margin-top: 30%;
  height: 500px;
}

a {
  text-decoration: none;
}

#pac-input{
  height: 50px;
  /*margin: 0 auto;*/
  width: 100%;
  position: absolute;
  bottom: 1.5%;
  z-index: 2;
  width: 50%;
  left: 3%;
}

#create-space {
position: absolute;
top: 85%;
z-index: 100;
right: 3%;
width: 4.2em;
border-radius: 35px;
height: 4.2em;
}

#center {
  position: absolute;
  top: 74%;
  z-index: 100;
  right: 3%;
  width: 3.2em;
  border-radius: 35px;
  height: 3.2em;
}

#search {
position: absolute;
top: 88%;
z-index: 100;
right: 28.3%;
width: 3.2em;
border-radius: 35px;
height: 3.2em;
}

#closest-space{
  position:fixed;
  top:9%;
  left:11%;
  width: 85%;
}

#claim-space-confirmation{
  position:fixed;
  top:8%;
  left: 38%;
}

#post-space-confirmation{
  position:fixed;
  top:9%;
  left: 38%;
}

#cancel-space-confirmation{
  position:fixed;
  top:8%;
  left: 38%;
}

#remove-space-confirmation{
  position:fixed;
  top:9%;
  left: 38%;
}

.fa-bars {
position: absolute;
left: 3%;
top: 11%;
cursor: pointer;
}

#search {
  border: solid;
}

.fa-search {
  margin-left: -3.0px;
  margin-top: -2.0px;
}

#create-space {
  border: solid;
}

.fa-car {
  margin-left: -3.2px;
  margin-top: 2px;
}

#center {
  border: solid;
}
.fa-compass{
  margin-left: -7px;
  margin-top: -4.0px;
}

#profile{
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  height: 40px;
  width: 50px;
}

#menu {
  height: 40px;
  position: absolute;
  top: -10%;
  left: 3%;
}

#mglass {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5%;
  left: 10%;
}

#compass {
  height: 50px;
  width: 50px;
  position: absolute;
  right: -3%;
  bottom: -3%;
}

#marker {
  height: 55px;
  position: absolute;
  top: 0%;
  left: -2%;
}