#map-canvas {
  padding: 0;
  position : absolute;
  top : 40px;
  right : 0px;
  bottom : 58px;
  left : 0px;
  height: 96%;
}

.round {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}
.round img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

/*#landing-screen {
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 300px;
  background-color: red;
}*/

a {
  text-decoration: none;
}

#pac-input{
  height: 50px;
  /*margin: 0 auto;*/
  width: 100%;
  position: absolute;
  bottom: 0%;
  z-index: 2;
}

#create-space {
position: absolute;
top: 85%;
z-index: 100;
right: 3%;
width: 4.7em;
border-radius: 35px;
height: 4.5em;
}