<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.halle.parkit"
        versionCode = "11"
        version     = "1.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Halle: Park it Forward</name>

    <description>
        Halle - Park it forward!
    </description>

    <author href="https://whitfieldc.github.io" email="whitfield.cw@gmail.com">
        Chuck Whitfield
    </author>

    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <icon src="icon.png" />
    <gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <access origin="*"/>
    <preference name="permissions" value="none"/>
    <preference name="splashscreen" value="xhdpi.png" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>

</widget>